


.screen_wrap {
  display: flex;
  background-color: black;
}
.screen_wrap, html, body {
  height: 100%;
  margin: 0;
}

/* menu starter her*/
nav {
  background: white;
  margin: 0;
  width: 100%;
  display: flex;
}

ul {
  margin: auto;
  display: flex;
  list-style: none;
}

li {
  text-align: center;
  background-color: white;
  margin: auto;
  padding: 15px;
  display: block;
}

a {
  text-decoration: none;
}

/*menu slutter her*/

#visual_front, #tekst_beskrivelse, #product_listing{
  position: absolute;
  height: 100%;
  width: 100%;
}
#visual_front{
  background-color: rgba(150, 100, 100, 1);
}
#tekst_beskrivelse{
  background-color: rgba(100, 150, 100, 1);
}
#product_listing{
  background-color: rgba(100, 100, 150, 1);
}
