@font-face {
    font-family: "Aviano";
    src: url("../fonts/Aviano_Sans_Bold.otf");
}

header2 {
  font-family: "Aviano";
}

.screen_wrap {
  display: flex;
  background-color: black;
}
.screen_wrap, html, body {
  height: 100%;
  margin: 0;
}



/* menu starter her*/
nav {
  background: white;
  margin: 0;
  width: 100%;
  height: 50px;
  display: flex;
  position: sticky;
  z-index: 2;
}

ul {
  margin: auto;
  display: flex;
  list-style: none; /*what is this?*/
}

li {
  align-self: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  margin-left: 15%;
  margin-right: 15%;
  display: block;  /*what is this?*/
}

a {
  text-decoration: none;
}

/*menu slutter her*/

#visual_front, #tekst_beskrivelse, #product_listing{
  position: absolute;
  height: 100%;
  width: 100%;
}
#visual_front{
  background-color: rgba(150, 100, 100, 1);
}
#tekst_beskrivelse{
  background-color: rgba(100, 150, 100, 1);
}
#product_listing{
  background-color: rgba(100, 100, 150, 1);
}
