@font-face {
    font-family: "Aviano";
    src: url("../fonts/Aviano_Sans_Bold.otf");
}

h2 {
  font-family: "Aviano";
  padding: 0 10%;
}

p {
  font-family: "Source Serif Pro", serif;
  padding: 10px 10%;
}

.screen_wrap {
  display: flex;
  background-color: black;
}

.screen_wrap, html, body {
  height: 100%;
  margin: 0;
}

nav {
  color: rgba(255, 255, 255, 0.1);
  font-family: "Aviano";
  background: rgba(255, 255, 255, 0.1);
  margin: 0;
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed;
  z-index: 15;
}

nav ul {
  padding: 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  list-style: none;
}

nav ul li {
  align-self: center;
  background-color: rgba(255, 255, 255, 0);
  margin-left: auto;
  margin-right: auto;
}

nav ul li a {
  color: grey;
  padding: 15px;
  text-decoration: none;
}

nav ul li a:visited {
  color: grey;
}

nav:hover{
  transition-timing-function: linear;
  transition: all 0.5s;
}

nav:hover, nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration-color: black;
  color: black;
}

#visual_front, #tekst_beskrivelse, #product_listing {
  position: absolute;
  height: 100%;
  width: 100%;
}

#visual_front{
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
}

#visual_front section {
  position: absolute;
  display: flex;
  top: 5%;
  width: 90%;
  height: 85%;
  margin: 0% 5%;
  background-color: rgba(230, 230, 230, 1);
}

#visual_front article {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 20%;
  background-color: rgba(230, 230, 230, 1);
}

#visual_front aside {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../images/artifact_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

#visual_front video {
  display: flex;
  height: 80%;
  width: 100%;
  display: block;
  background-color: rgba(230, 230, 230, 1);
}

#tekst_beskriv{
  background-color: rgba(230, 230, 230, 1);
}

#tekstbox1{
  background-image: url("../images/magnify.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgb(170, 170, 170);
  margin: auto;
  width: 10%;
  height: 15%;
  transition: height 1s linear, width 1s linear;
  overflow: hidden;
}

#tekstbox2{
  background-image: url("../images/magnify.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgb(170, 170, 170);
  margin: auto;
  width: 10%;
  height: 15%;
  transition: height 1s linear, width 1s linear;
  overflow: hidden;
}

#tekstbox1:hover{
  width: 80%;
  height: 80%;
  transition: height 1s linear, width 1s linear;
  background-image: url("");
}

#tekstbox2:hover{
  width: 80%;
  height: 80%;
  transition: height 1s linear, width 1s linear;
  background-image: url("");
}

#tekstbox1 article {
}

#product_listing {
  overflow: hidden;
  background-color: white;
}

#product_listing .article_overview_1 {
  position: absolute;
  top: 10%;
  left: 0;
  height: auto;
  width: 70%;
  background-color: rgba(230, 230, 230, 1);
}

#product_listing .article_overview_2 {
  position: absolute;
  top: 50%;
  left: 0;
  height: auto;
  width: 70%;
  background-color: rgba(230, 230, 230, 1);
}

.article_overview_1:hover, .article_overview_2:hover {
  z-index: 2;
}

.logo {
  position: absolute;
  top: 1%;
  left: 1%;
  height: 10%;
  width: auto;
}

.logo2 {
  position: absolute;
  top: 1%;
  left: 1%;
  top: 12%;
  height: 10%;
  width: auto;
}

.arrowfade {
  transition: 2s;
  position: absolute;
  top: 42.5%;
  left: 2%;
  height: 5%;
  width: 5%;
}

#content1:hover > .arrowfade, #content2:hover > .arrowfade, #content3:hover > .arrowfade {
  position: absolute;
  top: 42.5%;
  left: 2%;
  height: 5%;
  width: 5%;
  background-color: inherit;
  transition: 1s;
}

.arrow {
  position: absolute;
  left: 2%;
  height: 5%;
  top: 42.5%;
}

#content1 {
  background-color: rgb(170, 170, 170);
  position: absolute;
  right: -70%;
  top: 5%;
  height: 95%;
  width: 100%;
  z-index: 3;
  transition: 3s;
}

#content1 article, #content2 article, #content3 article {
  position: absolute;
  left: 20%;
  top: 10%;
  width: 40%;
  background-color: inherit;
}

#content1 video, #content3 video {
  position: absolute;
  left: 10%;
  bottom: 5%;
  height: 50%;
  width: 50%;
  background-color: inherit;
}

#content2 .product_image {
  position: absolute;
  left: 10%;
  bottom: 5%;
  width: 50%;
  height: 50%;
  background-color: inherit;
  overflow: hidden;
  background-image: url("../images/zentropa_11.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#content1:hover {
  right: -10%;
  transition-timing-function: linear;
  transition: all 1s;
}

#content2 {
  background-color: rgb(190, 190, 190);
  position: absolute;
  right: -80%;
  top: 7%;
  height: 93%;
  width: 100%;
  z-index: 4;
  transition: 3s;
}

#content2:hover {
  right: -20%;
  transition-timing-function: linear;
  transition: all 1s;
}

#content3 {
  background-color: rgb(210, 210, 210);
  position: absolute;
  right: -90%;
  top: 9%;
  width: 100%;
  height: 91%;
  z-index: 5;
  transition: 3s;
}

#content3:hover {
  right: -30%;
  transition-timing-function: linear;
  transition: all 1s;
}
